---
import Layout from "@/layouts/Layout.astro";
import KeyBoardManager from "@/components/KeyBoardManager.astro";
import { Hero, About, Experience, Education, Skills, Projects } from "@/components/sections";

import { basics } from "@cv/";
const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
    <main>
        <Hero />
        <About />
        <Experience />
        <Education />
        <Skills />
        <Projects />
    </main>

    <KeyBoardManager />
</Layout>

<style>
    main {
        padding: 4rem;
        margin: auto;
        width: 100%;
    }

    @media (width <= 700px) {
        main {
            padding: 2rem;
        }
    }
</style>
